#clockContainer{
    position: relative;
    margin:auto;
   
    background: url(clock.jpg) no-repeat;
    height: 40vw;
    width: 40vw;
    height: 440px;
    width: 440px;
    background-size: 100%;
}
#hour,#minute,#second{

    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 19%;
    top: 31%;
    left:48.2%;
    opacity: 0.8;
    /* display: none; */

}
#minute{
    width: 1.6%;
    height: 22%;
    top: 28%;
    left: 48.2%;
    opacity: 0.8;
    /* display: none; */

}

#second{
    width: 1%;
    height: 29%;
    top: 21%;
    left: 48.5%;
    opacity: 0.8;
    /* display: none; */
}
